data
output
videos
images
saves
.ipynb_checkpoints
convolutional_pose_machines_tensorflow/models/weights
convolutional_pose_machines_tensorflow/output
convolutional_pose_machines_tensorflow/test_imgs
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
